name: Publish samples to Github Pages

on:
    release:
        types: [ created ]
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4
                with:
                    path: koalaplot-samples

            -   name: Set up JDK 17
                uses: actions/setup-java@v4
                with:
                    java-version: '17'
                    distribution: 'corretto'
                    cache: 'gradle'

            -   name: Setup Gradle
                uses: gradle/actions/setup-gradle@v4

            -   name: Build koalaplot-samples
                run: ./gradlew build
                working-directory: koalaplot-samples

            -   name: Build js koalaplot-samples
                run: ./gradlew composeCompatibilityBrowserDistribution
                working-directory: koalaplot-samples

            -   name: Deploy compose-web samples to GitHub Pages
                if: success()
                uses: crazy-max/ghaction-github-pages@v4
                with:
                    target_branch: gh-pages
                    build_dir: koalaplot-samples/webApp/build/dist/composeWebCompatibility
                    keep_history: false
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
